numpy
scipy

python-dotenv
SQLAlchemy > 1.2

Flask >= 1.0
Flask-SqlAlchemy >= 2.3  #  due to bugs in __tablename__ generation
Flask-Migrate
Flask-Assets
Flask-WTF

requests_cache
furl

# Development

flask-debugtoolbar >= 0.10.1

# Testing

pytest


##  NON-PYTHON

# stylus
#     (requires node.js, npm)
#     installation:
#     npm install -g stylus
