{# %- import "macros.html" as macros -% #}
<!doctype html>
<html lang="en">
<head>
{% block head -%}
<meta name="author" content="Vitaly Chesnokov">
<meta charset="utf-8">
<title>
{%- block fulltitle -%}
    {% block title %}{% endblock -%}
    {%- if self.title() %} // {# block 'title' is not empty #}{% endif -%}
    CLAS Analysis Framework
{%- endblock -%}
</title>
{% assets "css_screen" -%}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% block extrahead %}{% endblock -%}
{% endblock -%}
</head>
<body>
{% block body %}
{#
{{ macros.noscript() }}
#}

<div id="wrapper">
<div id="wrapper-row">

<header>
    <h1>CLAS Analysis Framework</h1>
    {% include "topmenu.html" %}
</header>

<main>
{% block content %}
{% endblock %}
</main>

</div>

<footer>
    <div class="powered">
        Created by
        <a href="http://www.sinp.msu.ru">SINP</a>
        <a href="https://www.msu.ru">MSU</a>,
        <a href="https://uconn.edu/">UCONN</a>,
        <a href="https://clasweb.jlab.org">CLAS Collaboration</a>
    </div>
</footer>

</div>
{% endblock %}
</body>
</html>
