{% extends "base.html" %}

{% block extrahead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.49.0/plotly.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_SVG"></script>
{% endblock %}

{% block content %}
<div id="plot"></div>
<script>
var plot_json = {{ plot|safe }};
Plotly.newPlot('plot', plot_json.data, plot_json.layout, {'displaylogo': false
{%- if not config.DEBUG -%}
, 'modeBarButtonsToRemove': ['resetCameraLastSave3d']
{%- else -%}
, 'showSendToCloud': true
{%- endif -%}
});
</script>
{% endblock%}
