{% extends 'base.html' %}


{% block content %}
<h1>Interpolate</h1>

<div class="interpolate-form">
<form action="">

{{ form.quantity.label }}
{{ form.quantity }}

<br>

{{ form.channel.label }}
{{ form.channel }}

<br>

{{ form.model.label }}
{{ form.model }}

<br>

{{ form.q2.label }}
{{ form.q2 }}

{{ form.w.label }}
{{ form.w }}

{{ form.cos_theta.label }}
{{ form.cos_theta }}

<br>

{{ form.e_beam.label }}
{{ form.e_beam }}

<br>
<br>

{{ form.submit }}

</form>
</div>

{% endblock %}
