{% extends "base.html" %}

{% block title -%}
	Models list
{%- endblock %}


{% block content %}
<h1>
	Reaction models for description of N&pi; electroproduction off protons
</h1>

<table class="models">
<thead>
<tr>
	<th>Name</th>
	<th>Author</th>
	<th>Description</th>
	<th>Channels</th>
	<th>{{ qu.Q2.wu }}</th>
	<th>{{ qu.W.wu }}</th>
	<th>Data points</th>
</tr>
</thead>
{% for mm in models %}
{% set m = mm.Model %}
<tr>
	<td>
		<a href="{{ url_for('.model_data', model_id=m.id) }}">
			{{ m.name }}
		</a>
	</td>
	<td>
		{{ m.author }}
	</td>
	<td>
		{{ m.description }}
	</td>
	<td class="channel">
		{% set comma = joiner(", ") %}
		{% for ch in by_model_id[m.id].channels %}
		{{ comma() }}
		<a href="{{
			url_for('.model_data', model_id=m.id, channel=ch.id)
		}}">
			{{ ch }}
		</a>
		{% endfor %}
	</td>
	<td>
		{{ macros.range_if(mm.q2_min, mm.q2_max) }}
	</td>
	<td>
		{{ macros.range_if(mm.w_min, mm.w_max) }}
	</td>
	<td>
		{{ mm.count_ampl }}
	</td>
</tr>
{% endfor %}
</table>
{% endblock%}
