{% extends "base.html" %}

{% block title -%}
	Model data
{%- endblock %}

{% block extrahead %}
{% assets "js_modellist" -%}
<script src="{{ ASSET_URL }}"></script>
{% endassets -%}
{% endblock %}


{% block content %}
<div class="model-data">
<h1>
	Model <em>{{ model.name }}</em> data
</h1>

<dl>
	<dt>Author</dt>
	<dd>{{ model.author }}</dd>
	<dt>Description</dt>
	<dd class="description">
		{{ model.description }}
	</dd>
	{% if channel %}
	<dt>Channel</dt>
	<dd>{{ channel }}</dd>
	{% endif %}
	{% if q2 is not none %}
	<dt>{{ qu.Q2 }}</dt>
	<dd>{{ q2 }}&nbsp;{{ qu.Q2.unit }}</dd>
	{% endif %}
</dl>

{{
	macros.render_pagination(amplitudes,
		partial(url_for, '.model_data', model_id=model.id, channel=channel.id, q2=q2))
}}

<table class="clickable amplitudes">
<thead>
<tr>
	<th class="hidden-link">{{ qu.phi }}-dependence</th>
	<th class="channel">Channel</th>
	<th>{{ qu.Q2.wu }}</th>
	<th>{{ qu.W.wu }}</th>
	<th class="rsplit">{{ qu.cos_theta.wu }}</th>
	{% for aa in qu.amplitudes %}
	<th>{{ aa.wu }}</th>
	{% endfor %}
	{#
	{% for sf in qu.strfuns %}
	<th{%if loop.first%} class="lsplit"{%endif%}>{{ sf.wu }}</th>
	{% endfor %}
	#}
</tr>
</thead>
<tbody>
{% for a in amplitudes.items %}
<tr>
	<td class="hidden-link">
		<a href="{{
			url_for('.phi_dependence',
				channel=a.channel_id, model=a.model_id,
				q2=a.q2, w=a.w, cos_theta=a.cos_theta)
		}}">
			{{ qu.dsigma }}
		</a>
	</td>
	<td class="channel">{{ a.channel }}</td>
	<td>{{ a.q2 |cpx }}</td>
	<td>{{ a.w  |cpx }}</td>
	<td class="rsplit">{{ a.cos_theta |cpx }}</td>
	{% for aa in a.H[1:] %}
	<td>{{ aa|cpx }}</td>
	{% endfor %}
	{#
	{% for aa in a.strfuns %}
	<td{%if loop.first%} class="lsplit"{%endif%}>{{ aa |cpx }}</td>
	{% endfor %}
	#}
</tr>
{% endfor %}
</tbody>
</table>

{{
	macros.render_pagination(amplitudes,
		partial(url_for, '.model_data', model_id=model.id, channel=channel.id, q2=q2))
}}

</div>
{% endblock%}
