{% extends "base.html" %}

{% block title -%}
	Phi dependence
{%- endblock %}

{% block extrahead %}
{#
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.49.0/plotly.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_SVG"></script>
{% endblock %}

{% block content %}
<h1>&phi; dependence</h1>

<table class="models">
{% if ampl %}
<tr>
	<th>Model</th>
	<td><a href="{{
		url_for('.model_data', model_id=ampl.model_id)
	}}">{{ ampl.model }}</a></td>
</tr>
<tr>
	<th>Channel</th>
	<td>{{ ampl.channel }}</td>
</tr>
<tr>
	<th>{{ qu.Q2.wu }}</th>
	<td>{{ ampl.q2 }}</td>
</tr>
<tr>
	<th>{{ qu.W.wu }}</th>
	<td>{{ ampl.w }}</td>
</tr>
<tr>
	<th>{{ qu.cos_theta.wu }}</th>
	<td>{{ ampl.cos_theta |cpx}}</td>
</tr>
{% for i in range(ampl.number) %}
<tr>
	<th class="ampl">{{ qu.amplitudes[i] }}</th>
	<td>{{ ampl.a[i] |cpx}}</td>
</tr>
{% endfor %}
{% for r in zip(qu.strfuns, ampl.strfuns) %}
<tr>
	<th>{{ r.0.wu }}</th>
	<td>{{ r.1 }}</td>
</tr>
{% endfor %}
{% else %}{# not ampl #}
<tr>
	<th>Channel</th>
	<td>{{ kinem.channel }}</td>
	<th>Model</th>
	<td>{{ kinem.model }}</td>
</tr>
<tr>
	<th>{{ qu.Q2.wu }}</th>
	<td>{{ kinem.q2 }}</td>
	<th>{{ qu.W.wu }}</th>
	<td>{{ kinem.w }}</td>
</tr>
{% endif %}
</table>

<div id="plot"></div>
<script>
var plot_json = {{ plot|safe }};
Plotly.newPlot('plot', plot_json.data, plot_json.layout, {'displaylogo': false
{%- if not config.DEBUG -%}
, 'modeBarButtonsToRemove': ['sendDataToCloud','resetCameraLastSave3d']
{%- endif -%}
});
</script>
{% endblock%}
