{% extends "base_plotly.html" %}

{% block title -%}
	Differential cross-section
{%- endblock %}


{% block content %}
{% block page_header -%}
<h1>
	Differential cross-section
</h1>
{%- endblock %}

<table class="void">
<tr>
	<td>
	<table class="properties">
	<thead>
	<tr>
		<th>Model</th>
		<th>Channel</th>
		<th>{{ qu.Q2.wu }}</th>
		<th>{{ qu.W.wu }}</th>
		<th>{{ qu.cos_theta.wu }}</th>
		<th>{{ qu.xB.wu }}</th>
		<th>{{ qu.Eb.wu }}</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><a href="{{
			url_for('.model_data', model_id=ampl.model_id)
		}}">{{ ampl.model }}</a></td>
		<td class="channel">{{ ampl.channel }}</td>
		<td>{{ ampl.q2 |cpx}}</td>
		<td>{{ ampl.w |cpx}}</td>
		<td>{{ ampl.cos_theta |cpx}}</td>
		<td>{{ hep.W2xB(ampl.w, ampl.q2) |cpx}}</td>
		<td>{{ Eb }}</td>
	</tr>
	</tbody>
	</table>
	</td>
</tr>

<tr>
	<td>
		<table class="properties">
		<thead>
		<tr>
			{% for aa in qu.amplitudes %}
			<th>{{ aa.wu }}</th>
			{% endfor %}
		</tr>
		</thead>
		<tbody>
		<tr>
			{% for aa in ampl.H[1:] %}
			<td>{{ aa |cpx}}</td>
			{% endfor %}
		</tr>
		</tbody>
		</table>
	</td>
</tr>

<tr>
	<td>
	<table class="properties">
	<thead>
	<tr>
		{% for R in qu.strfuns %}
		<th>{{ R.wu }}</th>
		{% endfor %}
	</tr>
	</thead>
	<tbody>
	<tr>
		{% for R in ampl.strfuns %}
		<td>{{ R }}</td>
		{% endfor %}
	</tr>
	</tbody>
	</table>
	</td>
</tr>

<tr>
	<td>
	<table class="properties">
	<thead>
	<tr>
		{% for ds in qu.dsigmas %}
		{# <th>{{ ds.wu }}</th> #}
		<th>\({{ ds.tex }}\), {{ds.unit}}</th>
		{% endfor %}
	</tr>
	</thead>
	<tbody>
	<tr>
		{% for ds_dO in dsigmas %}
		<td>{{ ds_dO }}</td>
		{% endfor %}
	</tr>
	</tbody>
	</table>
	</td>
</tr>
</table>

{{ super() }}
{% endblock%}
