{% extends "base.html" %}

{% block title -%}
	Phi dependence
{%- endblock %}

{% block extrahead %}
{#
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.49.0/plotly.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_SVG"></script>
{% endblock %}

{% block content %}
<h1>&phi; dependence</h1>

<table>
{% if ampl %}
<tr>
	<td>
	<table class="properties">
	<thead>
	<tr>	
			<th>Model</th>
			<th>Channel</th>
			<th>{{ qu.Q2.wu }}</th>
			<th>{{ qu.W.wu }}</th>
			<th class="rsplit">{{ qu.cos_theta.wu }}</th>
			{% for r in qu.strfuns %}
			<th>{{ r.wu }}</th>
			{% endfor %}
	</tr>
	</thead>
	<tbody>
	<tr>
			<td><a href="{{
				url_for('.model_data', model_id=ampl.model_id)
			}}">{{ ampl.model }}</a></td>
			<td>{{ ampl.channel }}</td>
			<td>{{ ampl.q2 }}</td>
			<td>{{ ampl.w }}</td>
			<td class="rsplit">{{ ampl.cos_theta |cpx}}</td>
			{% for r in ampl.strfuns %}
			<th>{{ r }}</th>
			{% endfor %}
	</tr>
	</tbody>
	</table>
	</td>
</tr>
<tr>
	<td>
		<table class="properties">
		<thead>
		<tr>
			{% for i in range(ampl.number) %}
			<th class="ampl">{{ qu.amplitudes[i] }}</th>
			{% endfor %}
		</tr>
		</thead>
		<tbody>
		<tr>
			{% for i in range(ampl.number) %}
			<td>{{ ampl.a[i] |cpx}}</td>
			{% endfor %}
		</tr>
		</tbody>
		</table>
	</td>
</tr>
{% else %}{# not ampl #}
<tr>
	<th>Channel</th>
	<td>{{ kinem.channel }}</td>
	<th>Model</th>
	<td>{{ kinem.model }}</td>
</tr>
<tr>
	<th>{{ qu.Q2.wu }}</th>
	<td>{{ kinem.q2 }}</td>
	<th>{{ qu.W.wu }}</th>
	<td>{{ kinem.w }}</td>
</tr>
{% endif %}
</table>

<div id="plot"></div>
<script>
var plot_json = {{ plot|safe }};
Plotly.newPlot('plot', plot_json.data, plot_json.layout, {'displaylogo': false
{%- if not config.DEBUG -%}
, 'modeBarButtonsToRemove': ['sendDataToCloud','resetCameraLastSave3d']
{%- endif -%}
});
</script>
{% endblock%}
