*
	padding: 0
	margin: 0

HTML, BODY
	height: 100%

BODY
	padding: 0
	margin: 0
	background-color: white
	color: black
	height: 100%

IMG
	border: 0

H1
	margin: 16px 0 16px
H2
	margin: 18px 0
P
	margin 16px 0

OL, UL
	padding-left: 40px

DD
	margin-left: 40px

DIV#wrapper
	display: table
	width: 100%
	height: 100%

DIV#wrapper-row
	display: table-row
	height: 100%

MAIN
	margin: 0 1em
	/*border: solid 1px;*/
	H1
		font: bold 24px "Georgia", "Garamond", "PT Sans", "Tahoma"

HEADER
	margin: 0
	background-color: green
	color: yellow
	padding: 1em
	font: bold 14px Verdana, sans-serif
	text-shadow: 2px 2px 2px #000000

	H1
		margin: 0

	NAV
		font: bold 14px "Calibri", "Verdana", sans-serif
		margin: 8px 0 0

		A+A
			border-left: none

		SPAN
			display: none
			border: 2px solid black
			margin: 0
			width: 5px

		>SPAN>SPAN
			display: none

		A
			color: orange
			/*  border: 1px transparent solid;*/
			padding: 3px 8px
			margin: 0
			text-decoration: none
			/*border-right: thin solid yellow;
			border-left: thin solid yellow;*/

		A:hover
			color: orange
			/*  border: 1px black dashed;*/
			background-color: blue


FOOTER
	margin: 6em 0 0
	padding: 4px 4em
	text-align: right
	background-color: white
	color: black
	font-family: Corbel, Tahoma, Arial, sans-serif;
	font-style: italic;
	font-size: 7px;
	border-top: 1px lightgrey solid

	.powered
		text-align: right
		font-style: italic
		font-size: 10px


DIV.info
	width: 800px

.references LI:target
	background-color: lightyellow
