TABLE.models, TABLE.amplitudes
	font-family: sans-serif
	border: solid 1px
	border-collapse: collapse
	margin-bottom: 2em
	THEAD 
		border-bottom: solid 5px
	TD, TH
		border: solid 1px
		padding: 0.3em 0.5em
		A
			text-decoration: none
			&:hover
				text-decoration: underline
	TD.rsplit, TH.rsplit
		border-right: solid 5px
	TD.lsplit, TH.lsplit
		border-left: solid 5px
	TH.ampl
		font-weight: normal
		font-size: x-small

TABLE.amplitudes
	TH.hidden-link, TD.hidden-link
		display: none
	TBODY>TR
		cursor: pointer
		&:hover
			background-color: lightcyan


TABLE
	TABLE.properties
		@extend TABLE.models
		margin-bottom: 0.5em
		width: 100%
		// TH.ampl
		// 	font-size: small


DIV.model-data
	DL
		margin-bottom: 1em
		margin-left: 1em
		DT
			font-weight: bold
			font-family: sans-serif
		DT:after
			content: ":"
		DD.description
			font-style: italic
