.math
	font-family: serif
	font-style: italic
	white-space: nowrap
.unit
	font-family: serif
	font-style: normal
.math .op  //  operator in math formula like cos
	font-style: normal
	margin-right: 0.2em
.supsub
	display: inline-block
	SUP, SUB
		display: block
		position: relative
		font-size: .5em
		line-height: 1.2
	SUB
		top: .3em


TABLE.models, TABLE.amplitudes
	font-family: sans-serif
	border: solid 1px
	border-collapse: collapse
	margin-bottom: 2em
	THEAD 
		border-bottom: solid 5px
	TD, TH
		border: solid 1px
		padding: 0.3em 0.5em
		A
			text-decoration: none
			&:hover
				text-decoration: underline
	TD.rsplit, TH.rsplit
		border-right: solid 5px
	TD.lsplit, TH.lsplit
		border-left: solid 5px
	TD.channel
		@extend .math


TABLE.amplitudes
	TH.channel
		font-size: 70%

TABLE.clickable
	TH.hidden-link, TD.hidden-link
		display: none
	TBODY>TR
		cursor: pointer
		&:hover
			background-color: lightcyan

TABLE.void
	border: none
	padding: 0
	margin: 0
	TD, TH
		border: none
		padding: 0
		margin: 0	
	TABLE.properties
		@extend TABLE.models
		margin-bottom: 0.5em
		width: 100%


DIV.model-data
	DL
		margin-bottom: 1em
		margin-left: 1em
		DT
			font-weight: bold
			font-family: sans-serif
		DT:after
			content: ":"
		DD.description
			font-style: italic
